section{border:1px solid;}

section>div{
    width:5px;
    height:50px;
    background-color:red;
}

section:hover>div:nth-child(1){
    width:300px;
    transition-duration:1s;
}

section:hover>div:nth-child(2){
    width:400px;
    transition-duration:1s;
    transition-delay:0.5s;
    background: blue;
}

section:hover>div:nth-child(3){
    width:450px;
    transition-duration:1s;
    transition-delay:1s;
    background: orange;
    transition-property: width, background-color;
}

section:hover>div:nth-child(4){
    width:300px;
    transition-duration:1s;
    transition-timing-function:cubic-bezier(.2,2.13,.27,-0.77);
    background: orange url(./imgs/coupang.png); no-repeat left top scroll / 50px;
}

section:hover>div:nth-child(5){
    width:600px; background-color:tomato;
    transition: all 1s 2s ease;
    background-size: contain;
}

div>h1{
    width:100px;
height: 100px;
border-radius:50%;
background: #00f;
animation-name: myani;
animation-duration:1s;        /*애니메이션을 정의하면 꼭 써야함.*/
position: relative;
animation-iteration-count: infinite;
animation-direction: alternate;
}

div:hover>h1{
    animation-play-state: paused;
}
/* 애니메이션을 정의 */
@keyframes myani{
    from{
        left:0;
    }
    50%{
        transform:rotate(360deg);
    }
    to{
        left:400px;
        background-color:purple;
    }
}



/*연습문제*/
[id*=box1]{
    width:100px;
    height:100px;
    background: orange;
    border:1px solid;
}
[id*=box2]{
    width:100px;
    height:100px;
    background: purple;
    border:1px solid;
}



#box1{animation: box1_ani 3s 0.5s alternate infinite;
margin:30px; position:relative;}
#box2{animation: box2_ani 3s 0.5s alternate infinite;
margin:30px; position:relative;}

@keyframes box1_ani{
    0%{
        left:0;
        background: orange;
    }
    50%{left:0; top:100px;
        background:blue; 
        transform:rotate(180deg);
    }
    100%{
        left:200px; 
        background:orange;
        transform:rotate(360deg);
    }
}

@keyframes box2_ani{
    0%{left:200px; background-color:red;}
    50%{top:100px; left:100px; background-color:blue;
    transform:rotate(180deg);}
    100%{left:0; background-color: orange; 
    transform:rotate(360deg);}
}

/*이미지슬라이드*/
.canvas{
    width:500px;
    height:400px;
    border: 2px solid black;
    position: relative;
}

.panel{
    position: absolute;
    left:0; top:0;
    width:2500px;
}

.panel>img {
    width:500px;
    height:400px;
    display:block;
    float:left;
}

@keyframes slider{
    from{left:0;}
    20%{left:-500px;}
    40%{left:-1000px;}
    60%{left:-1500px;}
    to{left:-2000px;}
}

.panel{ 
    animation: slider 10s infinite alternate;
}
.canvas{overflow: hidden;}

.canvas:hover>.panel{
    animation-play-state: paused;
}

@keyframes slider2{
    from{top:0;}
    20%{top:-400px;}
    40%{top:-800px;}
    60%{top:-1200px;}
    to{top:-1600px;}
}

#canvas>.panel{
    animation: slider2 10s infinite alternate;
    border:5px solid red !important;
}

#canvas>.panel{
    width:500px;          
}

