@import url('../css/0502aside.css');


header {
    width: 960px;
    margin: auto;
    height: 150px;
    border: 1px solid;
    position: relative;
}

hgroup {
    font-family: 'henny penny', cursive;
    position: absolute;
    left: 10px;
    top: 25px;
}

.main_gnb {
    position: absolute;
    right: 5px;  /*요소기준 오른쪽이아니라 부모박스 끝기준으로 오른쪽*/
    top: 5px;
}

.local_lnb {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.main_gnb li {
    float: left;
    /* display: inline; */ /*인라인으로해도됌*/
}

.main_gnb li a {
    display: block;
    border: 1px solid;
    padding: 5px;
}

.local_lnb {
    display: flex;
}

.local_lnb li {
    flex: 1;
}

.local_lnb li a {
    display: block;
    padding: 5px 10px;
    border: 1px solid;
}

/* 메인메뉴 */
.main_gnb>li:not(:last-child)>a {
    border-right: 0;
}

.main_gnb>li:first-child>a {
    border-radius: 8px 0 0 8px;
}

.main_gnb>li:last-child>a {
    border-radius: 0px 8px 8px 0px;
}

.main_gnb>li:hover>a {
    background-color: black;
    color: white;
}

/* 로컬메뉴 */
.local_lnb>li:not(:last-child)>a {
    border-right: 0;
}

.local_lnb>li:first-child>a {
    border-radius: 8px 0 0 8px;
}

.local_lnb>li:last-child>a {
    border-radius: 0px 8px 8px 0px;
}

.local_lnb>li:hover>a {
    background-color: black;
    color: white;
}

/* 컨텐츠배치 */
#content {
    width: 960px;
    margin: auto;
    overflow: hidden;
}

#content>section,
#content>aside {
    float: left;
    border: 1px solid;
    box-sizing: border-box;
}

#content>aside {
    width: 200px;
}

#content>section {
    width: 760px;
    padding: 10px;
}

#content>section>article {
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}

article>p {
    text-align: justify;
    /* word-break: break-all; */
    hyphens: auto;
}

footer{
    border:1px solid;
    width:960px;
    margin:auto;
    padding:10px;
    box-sizing:border-box;
    text-align:center;
}
#content{
    border:1px solid gray;
}

/*skip navi*/
.ski_nav a{
    position: absolute;
    top:0;
    left:0;
    background:black;
    height:30px;
    line-height:30px;
    color:white;
    padding:0 6px;
    display:block;
}

.ski_nav a:focus{top:0; }
