header, footer{
    border:2px solid;
    margin:auto;
    height:100px;
    background: lightgray;
}

#cotent,.inner{
    width:1200px;
    border:2px solid;
    margin:auto;
}

#content{height:500px;}
.inner{height:100%;}  /*부모박스header:100px이므로 100%해주면 .inner도 100px*/
.row{height:200px; border:1px solid; display:flex;}
.swiper{height:300px;}
.row article{border:1px solid; flex:1;}
nav>ul>li>a{padding:10px 20px; border:1px solid; display:block;}
nav>ul{width:600px; display:flex;}
nav>ul>li{flex:1; text-align: center;}
header .inner{position: relative;}
header nav{position: absolute; right:10px; bottom:10px;}
.inner h1{border-right: 1px dashed; line-height:100px;
text-align: center; width:200px;}
nav>ul{position:relative;}
.sub{
display:none;
position:absolute; 
width:100%;
border:1px solid;
box-sizing:border-box;
left:0px;
background:white;
z-index:10;
}

nav>ul>li:hover>.sub{display:flex;}
.sub>ol{flex:1;}

footer .inner{display:flex;} 
footer h3{width:200px; border: 1px solid; text-align:center;}
footer .bottom *{height:50%; border-bottom:1px solid;}
.swiper {
  width:800px;
  height: 500px;
}

/*스킵네비게이션 tab*/
.skip a{
    position:absolute;
    left:0;
    top:-100;
    background: black;
    color:white;
}
.skip a:focus{ 
    top:0;
}