.table1 td{
    border:1px solid;
    padding:10px;
    text-align: center;
}

.table1{
    caption-side: top;
    margin:10px;
    border:0px solid blue;
}

.table1 td{
    border:1px solid red;
}

.table1 tr{
    border:0px solid gold;
}

caption{border:0px solid red;}

.table1{
    border-collapse: separate; 
    border-spacing: 0;
}

.table1{
    border:0px solid red;
}

.table1 td{
    empty-cells: show; /*비어있는 셀을 보일것이냐*/
}

html,body{
    width:100%;
}

.table1{
    width:300px;
    table-layout:fixed;
    height:auto;
    word-break: break-all;
}

.table1 td{
    /* width:150px; */
    vertical-align:top;
}

input{
    height:30px;
    vertical-align:baseline;
}

ul{
    display:table;
}

ul li{                          /*td*/
    display:table-cell; 
    padding:10px;
}