/* 전체화면구현하기 */
html, body{
    width:100%;
    height:100%;
    background: url(../imgs/nature3.png);
    background-size: cover;
}

/*비디오 풀스크린으로 구현하기*/
video{
    width:100%;
    height:100%;
    object-fit: fill; /*꽉찬화면*/
    object-fit: cover; /*꽉찬화면*/
}
/*헤더구현하기*/
header{
    position:fixed;
    left:0;
    top:0; 
    right:0;  /*width:100%;와 동일*/
    background:none;
    height:100px;
    border-bottom: 1px solid blue;
    box-shadow:0 1px 3px gray;
    z-index:100;    
}
#wrap_head{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

header:hover{
    background:white; color:black;
}

header h1{
    position:absolute;
    left:10px; 
    top:20px;
    color:white;
    text-shadow: 1px 1px black;
}

/*서브메뉴 숨기기*/
nav>ul ol{display:none;}

/*메인메뉴 위치조정하기*/
nav{position: absolute; left:300px; top:30px;}

/*메뉴 수평정렬하기-flex*/
nav ul{display: flex;}

/*a태그 박스처리하고 영역확장하기-여백의 미*/
nav ul>li>a{display:block; padding:10px; color:white; font-weight: bold;}

nav ul>li>a:visited{color:white;}

/*헤더에 마우스 올릴때 글자검정색 스타일주기*/
header:hover *{color:black !important;
text-shadow: 0 1px grey;
}

/*메인메뉴 수정하기*/
nav{ font-size:1.3em; width:600px;
left:400px;}

nav ul>li{
    flex:1;
}

ul ol{
    position:absolute;
    top:101px;
    left:0;
}

ul>li:hover>ol{
    display:flex;
    background: white;
    height:50px;
    width:100%;

}

/*navi위치수정하기*/
nav{
    position:static;
    margin-left:300px;
    margin-top:12px;
    /*border:1px solid black;*/
}

/*서브메뉴 위치조정*/
ol a {display:block; padding:10px;}
ul>li:nth-child(1)>ol{padding-left:300px;}
ul>li:nth-child(2)>ol{padding-left:400px;}
ul>li:nth-child(3)>ol{padding-left:500px;}
ul>li:nth-child(4)>ol{padding-left:600px;}

/*서브메뉴 도망못가게 하기,메인메뉴 누르고 서브메뉴누르기전에 서브메뉴사라짐*/
ol:hover{display:flex;}
/*해결책은 메인메뉴영역에 패딩을 줘서 확장한다.*/
nav li{padding-bottom:50px;}
