.btn{
    display:block;
    border: 1px solid black;
    background:grey;
    margin:10px;
    width:80px;
    height:30px;
    text-align:center;
    padding-top:3px;
    box-shadow: 2px 2px;
    border-radius:10px;
}

#modal{
    border: 1px solid;
    width:300px;
    height:300px;
    background: white;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

h3{
    text-align:center;
    margin:20px;
}

.content{
    width:200px;
    margin:auto;
    line-height:30px;
    text-align: center;
}

span{color:red;
font-weight:bold;}

#close{
    background: rgb(179, 178, 178);
    width:60%;
    margin:auto;
    text-align:center;
    margin-top:30px;
    height:30px;
    padding-top:5px;
}

html, body{
    background:lightgrey;
}

#modal{
    display:none;
}

#modal:target{
    display:block;
}

.close1{
    display:block;
}