section{width:900px; margin:auto;}

[class=box]{
    float:left;
    border:1px solid rgb(142, 186, 201);
    width:200px;
    margin:10px;
    padding:15px;
    line-height:2;
    height:300px;
    box-sizing:border-box;
}

[class=row]{
    overflow: hidden;
    margin:10px 10px;
}
div.box{
    text-align: center;
}
h2{
border-bottom: 2px solid lightskyblue;
color:rgb(120, 166, 182)
}

div a:hover{
    color:blue;
    font-size: 18px;
    font-weight: bold;
}




