@charset "utf-8";

header {
    background-image: -webkit-linear-gradient(top, #dcd6c5 8%, #8e7a45 74%);
    width: 350px;
    height: 70px;
    border-bottom: 1px solid #555;
    position: relative;
}

h1 {
    background: url(../img/sub_logo.png) no-repeat;
    width: 70px;
    height: 50px;
    position: absolute;
    text-indent: -9999px;
}

aside {
    position: absolute;
    right: 10px;
    top: 10px;
}

ul {
    list-style: none;
}

aside li>a {
    display:block;
    background: url(../img/aside_btns.png) no-repeat;
    text-indent: -9999px;
    width:47px;
    height:27px;
}

ul>li{
    display:inline-block;
}

ul li:nth-child(2)>a{background-position: -47px 0;}

header>nav>ul{
    max-width:320px;
    margin:auto;
    padding:15px 15px 5px 15px;
    text-align:center;
}

nav>ul>li{
    display:inline-block;
}

ul>li>a{
    display:block;
    width:70px;
    height:70px;
    overflow:hidden;
}
